[Unit]
Description=pdx poweroff service
DefaultDependencies=no
Before=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python -u /usr/share/pdx/python/pdx-poweroff.py

[Install]
WantedBy=poweroff.target
